body {
  box-sizing: border-box;
  font-family: var(--MontserratFont);
  background-color: #fffaf5;
}

Header 
header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 999;
  top: 0;
  background-color: #fffaf5;
} 
.clientLogo {
  margin-left: 15%;
}
.clientPageNavbar li a {
  margin-right: 21px;
  color: var(--ColorDarkGreen);
  font-size: 12px;
}
.clientPageNavbar ul li a:hover {
  color: var(--ColorOrange);
  cursor: pointer;
  text-decoration: none;
}
ul > :first-child a {
  color: var(--ColorOrange);
}
.joinUs a {
  font-family: var(--RobotoFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--ColorDarkGreen);
}
/* Home Section */
.homeSection {
  width: 80%;
  margin: 13% 16%;
}
.homeSection h1,
p {
  font-weight: 900;
  font-size: 36px;
  line-height: 70px;
  color: var(--ColorDarkGreen);
}
.homeSection p {
  width: 65%;
  line-height: 26px;
  font-weight: 400;
  font-size: 13px;
}
.homeSection button {
  width: 212px;
  height: 50px;
  background-color: var(--ColorOrange);
  border: none;
  text-align: left;
  font-weight: 900;
  line-height: 29px;
}
.homeSection button:hover {
  background-color: #c85e02;
}

/* About Section */
.aboutSection {
  width: 80%;
  margin: 13% 16%;
}
.aboutTitle,
.aboutText {
  font-weight: 900;
  font-size: 36px;
  line-height: 70px;
  color: var(--ColorDarkGreen);
}
.aboutText {
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;
  margin-top: 12px;
}
.aboutSection img {
    margin: 60px 0 0 72px;
}

/* Social Media Section */
.socialMediaSection {
  margin: 134px auto 133px;
}

.socialMediaSectionTitle p {
  font-weight: 900;
  line-height: 49px;
  color: var(--ColorDarkGreen);
}
.socialMediaSectionContent {
  width: 30%;
  margin: 0 auto;
}
.socialMediaSectionContent a {
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #391f00;
  height: 270px;
  padding-top: 56px;
}
.footerContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footerList {
  font-weight: 400;
  font-size: 18px;
}
.footerList ul {
  margin: 0 45px;
}

.footerList ul li a {
  font-size: 13px;
  line-height: 26px;
}
.footerNumber p {
  font-weight: 900;
  font-size: 12px;
  height: 18px;
}
.footerNumber button {
  line-height: 27px;
  width: 136px;
  height: 26px;
  border: 1px solid var(--ColorOrange);
  background-color: transparent;
  color: var(--ColorOrange);
  font-weight: 500;
  font-size: 14px;
}
.footerNumber button:hover {
  background-color: var(--ColorOrange);
  color: #fff;
}
.footerNum {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
} */

/* ScrollBar */
 ::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a3a2a2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #720418;
  border-radius: 10px;
} */

/* Join us Modal */
 .joinUsPage {
  opacity: 0.9;
  margin-top: 15%;
}
.joinUsTitle {
  font-family: var(--MontserratFont);
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin: 60px 0 40px;
}
form input {
  height: 70px;
  border: 1px solid #cecece;
  margin-bottom: 35px;
  padding-left: 50px;
}
form .joinBtn {
  height: 70px;
  color: #fff;
  background: #e16a00;
  border: 1px solid #cecece;
  border-radius: 5px;

}
@media screen and (max-width:320px){

body{
  overflow-x: hidden;
}

.aboutImg img{
  margin-left: -140px;
  width: 296px;
  
}

.aboutContent {
  margin-top: 250px;
  
}
.aboutTitle{
text-align: center;
font-size: 25px;
width: 200%;

}
.aboutText {
  width: 250%;
  font-size: 16px;
  text-align: center;
}

}
