/* ************************************** */
.owl-dots {
  display: none;
}
.owl-nav {
  font-size: 50px;
  color: var(--mainRedColor);
  position: absolute;
  width: 102%;
  display: flex;
  justify-content: space-between;
  top: 50%;
  transform: translateY(-50%);
}
.owl-nav button:hover {
  background: transparent !important;
  color: var(--BLACK) !important;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  margin-right: -30px !important;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
  margin-left: -30px !important;
}
#active {
  color: var(--Orange2);
}
.navbar-light .navbar-toggler {
  color: var(--Brown);
  border: none;
}

.prev-button {
  background-color: var(--BLACK);
  color: var(--White);
  padding: 10px;
  position: absolute;
  top: 40%;
  border-radius: 50%;
}
.next-button {
  background-color: var(--BLACK);
  color: var(--White);
  padding: 10px;
  position: absolute;
  top: 40%;
  border-radius: 50%;
}
.content,
.cataloglist {
  width: 80%;
  margin-left: 14% !important;
}
.content {
  margin-bottom: 128px;
}
/* 
.owl-carousel .owl-nav.disabled{
  display: block;
  background-color: orange;
  width: 100%;
} */

/* ******************************************** */
/* main */

.card {
  background-color: var(--White);
  padding: 15px;
  margin-top: 50px;
  border-radius: 0%;
  box-shadow: 0 0 10px 0 lightgray;
}

.catalogul a {
  color: var(--Brown);
  text-decoration: none;
}

.card-title {
  font-size: 14px;
  font-weight: 700;
  font-family: var(--MontserratFont);
  text-align: center;
  margin: 0px auto;
}

.card-text {
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  margin: 10px auto;
}

.cataloglist {
  display: flex;
  margin-bottom: 30px;
}

.catalogul {
  margin: auto;
  width: 446px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.catalogul::-webkit-scrollbar-track {
  background: var(--White2);
  border-radius: 5px;
}
.catalogul::-webkit-scrollbar-thumb {
  background: var(--Brown2);
  border-radius: 10px;
}
::-webkit-scrollbar {
  height: 5px;
  width: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--Black2);
}

.catalogul li {
  margin-left: 40px;
  font-size: 13px;
  font-weight: 400;
}

.catalog-main {
  margin-top: 140px;
}

.allbooks {
  font-weight: 900;
  font-size: 25px;
  color: var(--Brown);
}

.besteller {
  font-weight: 900;
  font-size: 25px;
  color: var(--Brown);
  text-align: center;
  margin: 90px 0 30px 14%;
  width: 80%;
}

.catalogbtn {
  background-color: var(--Orange2);
  color: var(--White);
  border-radius: 3px;
  font-size: 12px;
  font-family: var(--MontserratFont);
  font-weight: 900;
  border: none;
  width: 110px;
  padding: 10px;
  margin: 10px 20px;
}
.catalogbtn a {
  color: var(--White);
  text-decoration: none;
}
.slick-next {
  background-color: var(--Orange2);
  margin-top: 20px;
  border: none;
  color: var(--White);
}
.slick-prev {
  background-color: var(--Orange2);
  margin-top: 30px;
  color: var(--White);
  border: none;
}

/* ********************************************* */
/* Responsive design */
@media screen and (max-width: 320px) {
  .catalogSection {
    margin-top: 5px;
    margin: 0 -20px;
    width: 100vw;
  }
  .cataloglist {
    flex-wrap: wrap;
  }
  .catalogul {
    margin-top: 50px;
  }
  .owl-nav {
    display: none;
  }
  .owl-next img {
    margin-right: 30px;
  }
  .owl-prev img {
    margin-left: 20px;
  }
  .navbar {
    display: block;
  }
}
