body {
  box-sizing: border-box;
  font-family: var(--MontserratFont);
  background-color: #fffaf5;
  overflow-x: hidden;
  color: var(--ColorDarkGreen);
}
/* Header */
header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #fffaf5;
}
.clientLogo {
  margin-left: 15%;
}
.clientPageNavbar li a {
  margin-right: 21px;
  color: var(--ColorDarkGreen);
  font-size: 12px;
}
.clientPageNavbar ul li a:hover {
  color: var(--ColorOrange);
  cursor: pointer;
  text-decoration: none;
}
.joinUs a {
  font-family: var(--RobotoFont);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: var(--ColorDarkGreen);
}
/* Home Section */
.homeSection {
  margin: 10% 16%;
}
.homeContent {
  width: 30%;
}
.homeTitle {
  font-weight: 900;
  font-size: 36px;
  line-height: 70px;
  color: var(--ColorDarkGreen);
}
.homeText {
  font-weight: 900;
  line-height: 26px;
  font-weight: 400;
  font-size: 13px;
  color: var(--ColorDarkGreen);
}
.homeSection button {
  width: 212px;
  height: 50px;
  background-color: var(--ColorOrange);
  border: none;
  font-weight: 900;
  line-height: 29px;
}
.homeSection button:hover {
  background-color: #c85e02;
}
.homeImg img {
  width: 100%;
}

/* Catalog Section */
.catalogSection {
  margin-top: 60px;
}
.catalogSection p {
  font-weight: 900;
  line-height: 50px;
}
.catalogSectionBox {
  width: 80%;
  margin: 0 auto;
}
.catalogSectionBox div {
  width: 242px;
  height: 76px;
  margin: 36px auto;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.catalogSectionBox div a {
  color: var(--ColorDarkGreen);
  font-weight: 700;
  font-size: 14px;
  line-height: 27px;
}

/* About Store Section */
.aboutStoreSection {
  margin-top: 130px;
}
.aboutStoreTitle {
  font-weight: 900;
  font-size: 25px;
  line-height: 49px;
  color: var(--ColorDarkGreen);
  margin-top: 32px;
}
.aboutStoreContent div {
  margin-left: 55px;
}

.aboutStoreContent span {
  line-height: 98px;
  font-weight: 900;
  font-size: 50px;
  line-height: 98px;
  color: var(--ColorDarkGreen);
  margin-right: 20px;
}
.aboutStoreContent p {
  font-weight: 400;
  font-size: 13px;
  line-height: 25px;
  color: var(--ColorDarkGreen);
}

/* Delivery Section */
.deliverySection {
  margin-top: 160px;
}
.deliverySectionTitle {
  margin-bottom: 42px;
  line-height: 49px;
  font-weight: 900;
  color: var(--ColorDarkGreen);
}
.deliverySectionContent {
  line-height: 24px;
  font-weight: 400;
  font-size: 12px;
  color: var(--ColorDarkGreen);
}
.socialMediaSectionContent{
  display: flex;
  justify-content: center;
}
.socialMediaSectionTitle p {
  font-weight: 900;
  line-height: 49px;
  color: var(--ColorDarkGreen);
}
.socialMediaSectionContent a {
  margin-right: 15px;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #391f00;
  height: 270px;
  padding-top: 56px;
}
.footerContent {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.footerList {
  font-weight: 400;
  font-size: 18px;
}
.footerList ul {
  margin: 0 45px;
}

.footerList ul li a {
  font-size: 13px;
  line-height: 26px;
}
.footerNumber p {
  font-weight: 900;
  font-size: 12px;
  height: 18px;
}
.footerNumber button {
  line-height: 27px;
  width: 136px;
  height: 26px;
  border: 1px solid var(--ColorOrange);
  background-color: transparent;
  color: var(--ColorOrange);
  font-weight: 500;
  font-size: 14px;
}
.footerNumber button:hover {
  background-color: var(--ColorOrange);
  color: #fff;
}
.footerNum {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a3a2a2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #720418;
  border-radius: 10px;
}

/* Join us Modal */
/*.joinUsPage {
  opacity: 0.9; 
}
.joinUsTitle {
  font-family: var(--MontserratFont);
  font-weight: 700;
  font-size: 44px;
  line-height: 54px;
  margin: 60px 0 40px;
}
form input {
  height: 70px;
  border: 1px solid #cecece;
  margin-bottom: 35px;
  padding-left: 50px;
}
form .joinBtn {
  height: 70px;
  color: #fff;
  background: #e16a00;
  border: 1px solid #cecece;
  border-radius: 5px;
} */

@media screen and (max-width: 320px) {
  /* header {
    display: none;
  } */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homeContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .homeContent {
    width: 100%;
  }
  .homeTitle {
    font-size: 26px;
    line-height: 55px;
    margin: 60px 0 25px;
  }
  .homeContent p {
    text-align: center;
    margin-bottom: 40px;
  }
  .homeSection button {
    text-align: center;
    margin-bottom: 40px;
    width: 100%;
  }
  .homeBtn a {
    text-align: center;
  }

  .catalogSectionBox {
    display: flex;
    flex-wrap: wrap;
  }
  .socialMediaSectionContent{
    display: flex;
    align-items: center;
  }
  .socialMediaSection p {
    font-size: 18px;
    line-height: 35px;
  }
  .socialMediaSectionContent a{
    width: 100px;
  }
  .socialMediaSectionContent img {
    width: 50px;
    height: 50px;
   
  }
  
}
