main {
  margin: 143px 0 134px;
  z-index: -10;
}
.content {
  margin: 44px -15px 44px;
}
.textt h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 196.19%;
  color: var(--ColorDarkGreen);
}

.content h2 {
  font-family: var(--Montserrat600);
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 196.19%;
  margin-left: -20px;
  display: flex;
  align-items: center;
  color: var(--ColorDarkGreen);
}
.content h3 {
  font-family: var(--Montserrat600);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 176.19%;
  color: var(--ColorDarkGreen);
}
.searchh {
  margin-top: 40px;
  background-color: var(--White);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.searchh2 {
  margin-top: 40px;
  background-color: var(--White);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}
.content p {
  font-family: var(--Montserrat600);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 176.19%;
  display: flex;
  align-items: center;
  color: var(--ColorDarkGreen);
}
.form-control {
  font-family: var(--CrimsonTextFont);
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  border-radius: 5px;
  color: var(--ColorDarkGreen);
  height: 69.52px;
  margin-top: 44px;
  background: var(--White);
  border: 1px solid var(--White3);
  font-family: var(--CrimsonTextFon);
}
#exampleFormControlInput1 {
  font-family: var(--CrimsonTextFont);
  font-weight: 400;
  font-size: 23px;
  line-height: 30px;
  color: var(--Brown);
}
.btns {
  background-color: var(--Orange2);
  margin-top: 34.48px;
  height: 65px;
  border: none;
  border-radius: 5px;
  font-family: var(--CrimsonTextFon);
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  text-align: center;
}
.btns a {
  color: var(--White);
  text-decoration: none;
}
.carousel-control-prev {
  margin-left: -60px;
  background-image: url(/assets/images/prev.svg);
  width: 14.79px;
  height: 46px;
  margin-top: 200px;
}
.carousel-control-next {
  margin-right: -60px;
  background-image: url(/assets/images/next.svg);
  width: 14.79px;
  height: 46px;
  margin-top: 200px;
}
.fixed-menu {
  display: none;
}
.main-section{
  margin-left: 200px;
}
/* ********************************************* */
/* Responsive design */
@media screen and (max-width: 320px) {
  .textt h2 {
    font-size: 25px;
    line-height: 49px;
    text-align: center;
  }
  .searchh2 {
    width: 100%;
  }
  .search-content2 {
    padding-left: 50px;
  }
  .search-content,
  .search-content2 {
    margin-bottom: 30px;
  }
  .searchAuthor {
    font-size: 12px !important;
    font-weight: 700 !important;
  }
  .searchAuthor,
  .searchText {
    margin-bottom: 8px;
    text-align: center;
  }
  .content h2 {
    margin-left: 10px;
    text-align: center;
  }

  .search-content img {
    margin-left: 18px !important;
  }
  .carousel-control-next,
  .carousel-control-prev,
  .clientPageNavbar {
    display: none;
  }
  .headerTitle h2 {
    font-size: 24px !important;
  }
  .searchbutton input,
  #searchBookButton {
    height: 39px;
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 21px !important;
  }
  #searchBookButton {
    height: 37px;
    margin-bottom: 80px !important;
  }
  .main-section{
    margin-left: 0px;
  }
}
